<section class="phx-hero">
  <form phx-submit="login">
    <fieldset>
      <label for="login">Login</label>
      <input type="text" placeholder="Login" id="login">
      <label for="password">Password</label>
      <input type="password" id="password">
      <button type="submit" phx-disable-with="Checking...">
        Login
      </button>
    </fieldset>
  </form>
</section>
